@media screen and (max-width: 780px) {
    .tool{
        width: 768px;
        margin:0;
    }
    .content{
        width: 760px;
        padding-left: 5px; 
    }
    .right{
        left:260px;
     }
     .right img{
        margin-left: 280px;
     }
     .guidelist {
        width: 490px;
       
    }
     .guidelist li{
        font-size: 12px;  
    }
    .slide-img{
        width: 758px;
    }
    .slide-img img{
        width: 758px;
    }
    .body{
        height: 600px;
        width: 760px;
    }
    .news{
        position: relative;
        width: 745px;
        border-right:none;
        padding-right: 0;
    }
    .news span{
        margin-left: 690px;
        font-size: 12px;
        padding-bottom: 5px;
    }
    .newsmsg img{
        width: 165px;
    }
    .bnews{
        height: 75px;
        
    }
    .news-block{
        position: relative;
        left: 0;
        width: 750px;
    }
    .bottom-info img{
        width: 760px;
    }
    .footer{
        font-size: 11px;  
        line-height: 40px;
        height: 30px;     
    }
}


@media screen and (max-width: 650px){
    .tool{
        width: 635px;
    }
    .right{
        left:60px;
     }
     .right img{
        margin-left: 350px;
     }
     .guidelist {
        padding-top: 37px;
        width: 490px;
    }
    .slide-img{
        margin-top: 15px;
        width: 635px;
    }
    .slide-img img{
        width: 635px;
    }
    .body{
        height: 700px;
        width: 640px;
    }
    .news{       
        width: 640px;      
    }
    .news span{
        margin-left: 0;
        font-size: 12px;
        
    }
    .news-block{
        width: 640px;
        /* overflow: hidden; */
    }
    .news-block td{    
        padding-right:8px;
    }
    .newsmsg{
        width: 185px;
    }
    
    .block{

    }
    .bottom-info img{
        width: 640px;
    }
    .footer{
        line-height: 15px;
        word-break: normal;
    }

}

@media screen and (max-width: 440px){
    .header{
        height: 80px;
    }
    .id{
        padding-left: 10px;
    }
    .tool{
        width: 400px;
    }
    .right{
        left:0;
     }
    .right-tool{
        float: left;
    }
   
     .right img{
         visibility: hidden;
        margin-left: 0;
     }
     .content{
         padding-left: 0px;
         
     }
     .guidelist {
        padding-top: 37px;
        width: 430px;
    }
    .guidelist li{        
        padding: 0 0.5em 0 0.5em;       
    }
    .slide-img{
        margin-top: 15px;
        width: 410px;
    }
    .slide-img img{
        width: 95vw;
    }
    .body{
        height: 700px;
        width: 410px;
    }
   
    .news{        
        width: 410px;        
    }
    .bottom-info img{
        width: 410px;
    }
    .newsmsg img{
        width: 80px;
    }
    .bnews{
        height: 55px;
    }
  

}