body{
    margin: 0;
    font-family: Microsoft JhengHei;
   
}
/*設定超連結預設無底線*/
a {
    text-decoration: none;
}
/*取消li項目符號*/
li {
    list-style-type: none;
}
/*取消ul預設*/
ul{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.header{
    width:100vw;
    height: 28px;
    background-color: black;
}
.tool{
    width: 955px;
    height: 100%;
    margin: 0 auto;
    color: white;
    font-size: 12px;
    line-height: 28px;
}
.id{
    float: left;
}
.right-tool{
    float: right;
}
.right-tool img{
    vertical-align: bottom;
}
.right-tool li{
    padding-right: 0.5em;
    padding-left: 0.5em;
    border-right: white solid 1px;
}
.line li{
    display: inline;
}
.content{
    width: 955px;
    height: 100%;
    margin: 0 auto;
    padding-top: 20px;
}
/*logo跟guide list*/
.guide{
    position: relative;
    height: 120px;
}
.logo{
    position: absolute;
    left: 0;
}
.guidelist {
    width: 560px;
    padding-top: 10px;
}
.guidelist li{
    font-size: 14px;
    padding: 0 1em 0 1em;
    border-right: black solid 1px;
}
.right{
   position: absolute;
   left:395px;
}
.right img{
 margin-left: 360px;
}

.slide-img{
    border-top: #ccc solid 7px;
}

.body{
    position: relative;
    height: 360px;
    font-size: 13.5px;
    margin-top: 1.5em;
    border-bottom: black dashed 2px; 
}
/*news部分*/
.news{
    position: absolute;
    left:0;
    width: 250px;
    padding-right: 10px;
    border-right:  #ccc solid 3px;
}
.news-block{
    position: absolute;
    left:290px;
    width: 650px;
}
.news p{
    font-size: 12px;
    margin-block-start: 0;
    margin-block-end: 5px;
}
.news h4{
    margin-block-start: 10px;
    margin-block-end: 8px;

}
.news span{
    margin-left: 220px;
    font-size: 10px;
    padding-bottom: 15px;
}
.news ul li{
    font-size: 14px;
    padding-top: 5px;
    border-bottom:black solid 1px; 
}

/*news-block*/
.news-block h4{
    width: 140px;
    margin-block-start: 2em;
    margin-block-end: 2em;
}
.newsmsg{
    padding: 5px 5px 0 5px;
    border:black solid 1px;
}
.news-block td{    
    padding:0 5px 0 5px;
}
.bnews{
    height: 100px;
    border-top: #ccc dashed 1px; 
}

.footer{
    width: 100vw;
    font-size: 12px;
    text-align: center;
    line-height: 45px;
    height: 35px;
    background-color: black;
    color: white;
}